<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

 <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>

   <% if flash[:success] %>
     <p id="success">
       <%= flash[:success] %>
     </p>
   <% end %>
   <div class="container px-5 px-sm-0">
    <div class="row">
     <div class="col-md-3">
      <%= render 'users/list', user: current_user,book: @book %>
       <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
         <table class="table">
          <tbody>
             <tr>
               <td>
             <%=image_tag @book.user.get_profile_image(100,100) %>
               </td>
               <td>
             <%= link_to book_path(@book.id) do %>
             <%= @book.title %>
             <% end %>
               </td>
               <td>
                <span><%= @book.body %></span>
               </td>
             <% if @book.user == current_user %>
             <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
             <td><%= link_to "delete", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></td>
 　　          <% end %>
 　　         </tr>
 　　       </tbody>
 　　     </table>
 　　   </div>
    </div>
  </div>
</div>
